html,body{
    background-color: aliceblue;
}
.container{
    width: 760px;
    margin: 20px auto;
    box-sizing: border-box;
}
.column{
    float: left;
    width: 240px;
    margin-right: 20px;
    box-sizing: border-box;
}
.column:nth-last-child(1){
    margin-right: 0;
}
.card{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 3px 3px 10px 0 #333;
    margin-bottom: 10px;
}
.card a{
    display: block;
}
.lazyImageBox{
    width: 100%;
    overflow: hidden;
    background: #f4f4f4 url(../images/default.gif) no-repeat center center;
}
.lazyImageBox img{
    width: 100%;
    opacity: 0;
    transition: all .3s ease;
}
.card p{
    font-size: 12px;
    color: #333;
    margin-top: 5px;
    line-height: 20px;
}